body {
    font-family: 'Calibri', sans-serif;
    font-size: 20px;

}
.navbar-default{
    background: black;
}

h1 a {
    color: #003300;
    text-decoration: none;
}

#intro{
    font-weight: bold;
}

#brand {
    margin-left: 10px;
    color:red;
}



.image_background {
    position: relative;
    text-align: center;
    color: black;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

h2 {
    color: #003300;
    text-decoration: underline;

}


h2 a{
    color: #666699;
    font-style: italic;
}

h3 {
    color: #006666;
    font-family: 'Fredoka One', cursive;
}

#desc {
    color: red;
}

#bestCar{

    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: 
}

.page-header{

    font-family: font-family: 'Baloo Tammudu', cursive;
    color: #666699;
    font-size: 40px;
}

.navbar-form input, .form-inline input {
    width: auto;
}

#mechanic-form{
    width: 50%;
}

.glyphicon-spin {
    -webkit-animation: spin 1500ms infinite linear;
    animation: spin 1500ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }