{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}


{% block content %}
	<div class="image_background">
  <img src="{% static 'images/landrover.jpg' %}" alt="Landrover" style="width:100%;margin-left:-20px;"/>
  <div class="top-left"> <h2>Welcome to the Motorholics Website</h2>
  	<p id="intro">Home to the famous car blog.</p>
  	<p id="intro">Love your car and looking to keep it healthy? You're in the right place.</p></span>
    
    <div id="about">
		<p><a class="btn btn-info" role="button" href="/pages/about/" type="button" id="aboutButton"><i class="fa fa-automobile"></i> About Us</a></p></div>
	
  </div><!--close class-->
  		</div><!--close img div-->
		
{% endblock %}






